@import 'tailwindcss';

@theme {
  --font-red-hat-text: 'Red Hat Text', sans-serif;

  --color-custom-Red: hsl(14, 86%, 42%);
  --color-custom-Green: hsl(159, 69%, 38%);
  --color-custom-Rose-50: hsl(20, 50%, 98%);
  --color-custom-Rose-100: hsl(13, 31%, 94%);
  --color-custom-Rose-300: hsl(14, 25%, 72%);
  --color-custom-Rose-400: hsl(7, 20%, 60%);
  --color-custom-Rose-500: hsl(12, 20%, 44%);
  --color-custom-Rose-900: hsl(14, 65%, 9%);
}
